$main-color:#42a806;
.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.article-card{
    width: 40%;
    border-radius: 8%;
    box-shadow: 2px 2px 6px $main-color;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 2rem;
    padding: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    .card-body-article {
        height: 35%;
        margin-top: 3rem;
    }
    
}

.btn-buy {
    font-size: 1.2rem;
    border-radius: 34% 0% 34% 0%;
    color: white;
    background-color: $main-color;
    border-color: $main-color;
    height: 3rem;
}
.article-img {
    width: 80%;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}