<div class="articles">
    <div class="article-card">
        @for (article of articleList; track article.id) {
            <div class="card-body-article">
                <img [src]="article.image" alt="shoe image" class="article-img" width="85%" height="70%">
                <p>Name: {{article.name |uppercase}}</p>
                <p>Price: {{article.price |currency:'BIF'}}</p>
                @if (isAvailable){
                <p>Status: Available</p>

                }

                @else{
                    <p class="article-not-availble">Status: Not Available</p>
    
                    }
                
            
                <button [class.disabled]="!isButtonActive" [disabled]="!isAvailable" class="btn-buy" (click)="onAddToCart(article)">Add to cart</button>

            </div>
            

        }
       
    </div>
</div>

