<header>
    <nav>
        <div class="logo-title">
             <h2>Shoe shop</h2>
        </div>
        <div class="links">
            <ul class="navbar-links">
                <li><a routerLink="" routerLinkActive="active" class="link-item"><i class="fas fa-house"></i>{{ homeLink}}</a></li>
                <li><a routerLink="shoe-list" class="link-item"><i class="fa-solid fa-bag-shopping"></i>{{ productsLink}}</a></li>
                <li><a href="" class="link-item"><i class="fa-solid fa-address-book"></i>{{ contactLink}}</a></li>
                <li><a routerLink="cart" class="link-item"><i class="fa-solid fa-cart-shopping"></i> {{cartLength}} Cart</a></li>
                <li><a routerLink="signup" class="link-item"><i class="fa-solid fa-right-to-bracket"></i>Sign up</a></li>

            </ul>
            
        </div>
        
        
    </nav>
</header>
