$main-color:#42a806;

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $main-color;
    font-family: sans-serif;
    color: white;
    position: fixed;
    width: 100%;
    .navbar-links {
        display: flex;
        list-style-type: none;
        margin-left: 2rem;
    }
    .logo-title {
        padding-left: 2rem;
        margin-right: 30rem;
    }
    li {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 2rem;
    }
   a {
     text-decoration: none;
     color: white;

     &:hover {
        font-weight: bold;
     }
   }
   .cart-div a img{
    width: 3rem;
    height: 2rem;
    background-color: $main-color;
   }
   .links {
    display: flex;
    align-items: center;
    .cart-img {
        padding-right: 1rem;
    }
   }
   
}

