<header>
    <nav>
        <div class="logo-title">
             <h2>Shoe shop</h2>
        </div>
        <div class="links">
            <ul class="navbar-links">
                <li><a routerLink="" routerLinkActive="active" class="link-item">{{ homeLink}}</a></li>
                <li><a routerLink="shoe-list" class="link-item">{{ productsLink}}</a></li>
                <li><a href="" class="link-item">{{ contactLink}}</a></li>
            </ul>
            <div class="cart-div">
                <a href=""><img [src]="cartImage" alt="cart image" srcset="" class="cart-img"/></a>
            </div>
        </div>
        
        
    </nav>
</header>
