$main-color:#42a806;
$gray-color:#373837;

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    font-family: sans-serif;
    color: $main-color;
    position: fixed;
    border-bottom: solid 0.1rem $main-color;
    width: 100%;
    margin-top: -1rem;
    .navbar-links {
        display: flex;
        list-style-type: none;
        margin-left: 2rem;
    }
    .logo-title {
        padding-left: 2rem;
        margin-right: 30rem;
    }
    li {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 2rem;
    }
   a {
     text-decoration: none;
     color: $gray-color;

     &:hover {
        font-weight: bold;
        cursor: pointer;
     }
     i {
        color: $main-color;
     }
   }

   .links {
    display: flex;
    align-items: center;
   }
   
}

