<div class="cart-container">
    <h4>
        Your cart
    </h4>
    <table border="0px">
        <thead>
            <tr>
                <th>Article Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let shoe of cart" class="divider">
                    <td>{{shoe.name}}</td>
                    <td>{{shoe.price}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{total}}</td>
                </tr>
        </tbody>
        <button>Buy</button>

    </table>
   

</div>
