$main-color:#42a806;
.cart-container{
    width: 40%;
    border-radius: 8%;
    box-shadow: 2px 2px 6px $main-color;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 2rem;
    padding: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    flex: 1;

}