<div class="hero">
    <div class="hero-content">
        <h2>Shoe shop the plateform for selling men shoes</h2>
        <p>Discover the latest and the highest footwear
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quo corrupti laudantium sint itaque illum obcaecati quis totam distinctio suscipit, similique nulla eligendi necessitatibus 
            quibusdam perferendis neque corporis tempore dignissimos sed.
        </p>
        <router-outlet><a routerLink="shoe-list" routerLinkActive="page">Shop now</a></router-outlet>
        
    </div>

    <div class="hero-img">
        <img [src]="image" alt="shoe image">
    </div>
</div>
