$main-color:#42a806;
$gray-color:#373837;
$hover-color:#5ad414;
.hero {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    .hero-content {
        justify-content: center;
        p{
            text-align: justify;
            max-width: 45rem;
            color: $gray-color;
            font-size: 18px;
        }

        h2 {
            margin-bottom: 1rem;
            color: $gray-color;
        }
        a {
            background-color: #42a806;
            display: inline-block;
            padding: 1rem 1.2rem;
            text-decoration: none;
            text-transform: capitalize;
            color: white;
            margin-bottom: 1rem;
        }
        a:hover {
            background-color: $hover-color;
        }

    }

    .hero-img {
        margin-left: 1rem;
        margin-top: 3rem;
        img {
            width: 20rem;
            height: 15rem;
            border: $main-color solid 2px;
        }
        
    }
    
}